@tailwind base;
@tailwind components;
@tailwind utilities;

.boxcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin: 5px 5px 5px 5px;
}

/* Contact */
.main-card--cointainer {
  display: grid;
  grid-template-columns: repeat(5, minmax(300px, 300px));
  grid-gap: 50px;
  justify-content: space-around;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 10%;
}

.contact-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* Four equal columns */
  gap: 20px;
  /* Adjust the gap between columns as needed */
  justify-items: center;
  align-items: center;
  text-align: center;
  color: aquamarine;
  min-height: 30vh;
}

.contact-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: larger;
}

/* Profile Cards */

.card-container {
  margin: 25px auto 0;
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-around;
  align-items: flex-start;
}

.card {
  background-color: #fff;
  padding: 30px;
  position: relative;
  box-shadow: 0 0 5px rgba(75, 75, 75, 0.07);
  z-index: 1;
  margin-left: 20px;
  margin-right: 20px;
}

.card-body {
  display: inline-block;
}

.card-number {
  margin-top: 15px;
}

.card-circle {
  border: 1px solid #aaa;
  border-radius: 50%;
  display: inline-block;
  line-height: 22px;
  font-size: 12px;
  height: 25px;
  text-align: center;
  width: 25px;
}

.card-author {
  display: block;
  font-size: 12px;
  letter-spacing: 0.5px;
  margin: 15px 0 0;
  text-transform: uppercase;
}

.card-title {
  font-family: "Cormorant Garamond", serif;
  font-size: 60px;
  font-weight: 300;
  line-height: 60px;
  margin: 10px 0;
  text-transform: capitalize;
}

.card-description {
  /* display: inline-block; */
  font-weight: 300;
  line-height: 1.5;
  margin: 10px 0;
}

.card-read {
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 6px;
  margin: 5px 0 20px;
  position: relative;
  text-align: right;
  text-transform: uppercase;
}

.card-read:after {
  background-color: #b8bddd;
  content: "";
  display: block;
  height: 1px;
  position: absolute;
  top: 9px;
  width: 75%;
}

.card-tag {
  float: right;
  margin: 5px 10px 0 0; /* Add right margin for the gap between buttons */
  border: 3px solid #333232;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 20px; /* Add border-radius for rounded corners */
}

.card-tag:hover {
  background: #aaa;
  color: black;
}

.card-media {
  max-width: 100%;
  height: auto;
}

.card-shadow {
  background-color: #fff;
  box-shadow: 0 2px 25px 2px rgba(0, 0, 0, 1), 0 2px 50px 2px rgba(0, 0, 0, 1), 0 0 100px 3px rgba(0, 0, 0, 0.25);
  height: 1px;
  margin: -1px auto 0;
  width: 80%;
  z-index: -1;
}

.bar::-webkit-scrollbar {
  background-color: #121212;
  width: 10px;
}

.bar::-webkit-scrollbar-thumb {
  background: rgb(88, 86, 86);
  cursor: pointer;
}

.bar::-webkit-scrollbar-thumb:hover {
  background: #e6dbdb;
}

@media (max-width: 998px) {
  .main-card--cointainer {
    display: grid;
    grid-template-columns: repeat(1, minmax(200px, 500px));
    grid-gap: 50px;
    justify-content: space-around;
  }
}

.profile-box {
  height: 45vh;
  border: 3px dotted whitesmoke;
  background-color: #121212;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  transition: border-color 0.5s ease-in-out;
}

.profile-box:hover {
  border-color: transparent;
  background-color: #000000;
}

